<div id="Company Edit">
      <div class="divtablemain" *ngIf="companyAddMode">
            <ul class="ulheader">
                  <li class="liCol25"><span class="spacer10" style="font-size:14px;color:white;font-weight:bold;">Add Company Details</span></li>
                  <li class="liCol25"></li>
            </ul>           
            <ul class="ulmain" style="height:60px!important;">
                  <li class="liCol24"><span class="spanrow">* Company Name:</span><br>
                        <input id="CompanyName"  name="CompanyName" *ngIf = "!IsBranchAdd"  [(ngModel)]="companyDetailNew.CompanyName"  type="text" /> 
                        <span *ngIf = "IsBranchAdd" style="padding-top:10px;padding-left:10px;">{{companyDetailNew.CompanyName}}</span>
                        <span  *ngIf="IsError && (companyDetailNew.CompanyName == null || companyDetailNew.CompanyName == '') " style="color:Red;">*</span>
                  </li>

                  <li class="liCol24"><span class="spanrow"><span *ngIf="IsBranchAdd">*</span>Branch Name:</span><br>
                        <input id="BranchName" name="BranchName" [(ngModel)]="companyDetailNew.BranchName" *ngIf="IsBranchAdd"  type="text"  /> 
                        <span  *ngIf="IsError && (IsBranchAdd && (companyDetailNew.BranchName == null || companyDetailNew.BranchName == '')) " style="color:Red;">*</span>
                  </li>
                  <li class="liCol24"><span class="spanrow">* Owner Name:</span><br>
                        <input id="OwnerName"   name="OwnerName" [(ngModel)]="companyDetailNew.OwnerName"  type="text"  />
                        <span  *ngIf="IsError && (companyDetailNew.OwnerName == null || companyDetailNew.OwnerName == '') " style="color:Red;">*</span>
                  </li>   
                  <li class="liCol24"><span class="spanrow">Company Desc:</span><br> 
                        <input id="CompanyDesc"   name="CompanyDesc" [(ngModel)]="companyDetailNew.CompanyDesc"  type="text"  />
                  </li>
            </ul>
            <ul class="ulalternate" style="height:60px!important;">
                  <li class="liCol24"><span class="spanrow">Type:</span><br>
                        <select *ngIf = "!IsBranchAdd" name="selCompanyType" (change) = "loadServiceByType(companyDetailNew.CompanyTypeId)" [(ngModel)]="companyDetailNew.CompanyTypeId" style="width:150px!important;">
                              <option value="-1">Select</option>     
                              <option value="1">Broker</option> 
                              <option value="2">Contractor</option>                              
                        </select>
                        <span *ngIf = "IsBranchAdd" style="padding-top:10px;padding-left:10px;">{{companyDetailNew.CompanyType}}</span>
                        <span  *ngIf="IsError && (companyDetailNew.CompanyTypeId == null || companyDetailNew.CompanyTypeId == -1) " style="color:Red;">*</span> 
                  </li>            
                        <li class="liCol24"><span class="spanrow">Country:</span> <br>
                              <select name="selCountry" [(ngModel)]="companyDetailNew.CountryId"  style="width:150px!important;">
                                    <option *ngFor="let x of CountryList" [ngValue]="x.Id">{{x.Country_Name}}</option>                                 
                              </select>
                              <span  *ngIf="IsError && (companyDetailNew.CountryId == null || companyDetailNew.CountryId == -1) " style="color:Red;">*</span> 
                        </li>
                        <li class="liCol24"><span class="spanrow">State:</span><br>
                              <select name="selState" (change) = "loadCity()"  [(ngModel)]="companyDetailNew.StateId" style="width:150px!important;">
                                    <option value="-1">Select State</option> 
                                    <option *ngFor="let x of StateList" [ngValue]="x.Id">{{x.State_Name}}</option>                           
                              </select> 
                              <span  *ngIf="IsError && (companyDetailNew.StateId == null || companyDetailNew.StateId == -1) " style="color:Red;">*</span>
                        </li>   
                        <li class="liCol24"><span class="spanrow">City:</span><br>
                              <select name="selCity" [(ngModel)]="companyDetailNew.CityId"  style="width:150px!important;">
                                           <option value="-1">Select City</option>     
                                          <option *ngFor="let x of CityList" [ngValue]="x.Id">{{x.City_Name}}</option>                             
                              </select> 
                              <span  *ngIf="IsError && (companyDetailNew.CityId == null || companyDetailNew.CityId == -1) " style="color:Red;">*</span>
                        </li>
                        
            </ul>
            <ul class="ulmain" style="height:60px!important;">
                        <li class="liCol24"><span class="spanrow">Address:</span> <br>
                              <textarea id="Address" style="width:200px!important;" [(ngModel)]="companyDetailNew.Address" name="Address"></textarea> 
                              <span  *ngIf="IsError && (companyDetailNew.Address == null || companyDetailNew.Address == '') " style="color:Red;">*</span>
                        </li>
                        <li class="liCol24"><span class="spanrow">Pin Code:</span><br>
                              <input id="PinNo"  name="PinNo"  [(ngModel)]="companyDetailNew.PinCode" type="text"  /> 
                              <span  *ngIf="IsError && (companyDetailNew.PinCode == null || companyDetailNew.PinCode == '') " style="color:Red;">*</span>
                        </li>                        
            </ul>
           
      </div>
      <div class="divtablemain" *ngIf="companyAddMode">
            <ul class="ulheader">
                  <li class="liheader" style="width:20%!important;">Contact No</li>
                  <li class="liheader" style="width:19%!important;">Type</li>   
                  <li class="liheader" style="width:19%!important;">Primary</li>
                  <li class="liheader" style="width:19%!important;">Is Active</li>
                  <li class="liheader" style="width:19%!important;">Action</li>
            </ul>
            <ul class="ulmain" *ngFor="let contact of companyDetailNew.ContactDet;let i = index;trackBy:i;">
                  <li class="lirow" style="width:20%!important;">
                        <input id="txtContactNo" [(ngModel)]="contact.ContactNo"  name="txtContactNo"  type="text"  /> 
                        <span  *ngIf="IsError && (contact.ContactNo == null || contact.ContactNo == '') " style="color:Red;">*</span>
                  </li>
                  <li class="lirow" style="width:19%!important;">
                              <select name="selContactType" [(ngModel)]="contact.ContactType"  style="width:150px!important;">
                                                              <option value="-1">Select Type </option>     
                                                            <option value="P">Phone</option> 
                                                            <option value="M">Mobile</option> 
                                                            <option value="E">Email</option>                              
                              </select> 
                              <span  *ngIf="IsError && (contact.ContactType == null || contact.ContactType == -1) " style="color:Red;">*</span> 
                  </li>   
                  <li class="lirow" style="width:19%!important;">
                        <input id="chkIsPrimary" [(ngModel)]="contact.IsPrimary"   name="chkIsPrimary"  type="checkbox"  /> </li>
                  <li class="lirow" style="width:19%!important;">
                        <input id="chkIsActive" [(ngModel)]="contact.IsActive"   name="chkIsActive"  type="checkbox"  /> </li>
                  <li class="lirow" style="width:19%!important;"><a href="javascript:;" (click) = "DeleteContactRow(i)">Delete Row</a></li>
            </ul>           
            <ul class="ulalternate">                      
                  <li class="lirow" style="width:97%!important;"><a href="javascript:;" (click) = "AddContactRow()">Add Contact row</a></li>                        
            </ul>   
      </div>
      <div class="divtablemain" *ngIf="companyAddMode">
                  <ul class="ulheader">
                        <li class="liheader" style="width:20%!important;">Service Name</li>                      
                        <li class="liheader" style="width:62%!important;">Destinations</li>
                        <li class="liheader" style="width:15%!important;">Action</li>
                  </ul>
                  <ul class="ulalternatebig" *ngFor="let service of companyDetailNew.Services;let i = index;trackBy:i;">
                        <li class="lirow" style="width:20%!important;">
                                    <select name="selService" [(ngModel)]="service.ServiceId" (change) = "setServices(service,i)"  style="width:150px!important;">
                                          <option value="-1">Select Service</option> 
                                          <option *ngFor="let x of ServiceListByType" [ngValue]="x.ServiceId">{{x.ServiceName}}</option>                           
                                    </select>        
                        </li>                         
                        <li class="lirow" style="width:62%!important;">
                              <table style="margin-top:0px;" *ngIf="service.HasDestination">
                                    <tr>
                                          <td>
                                                <select name="selDestState" [(ngModel)]="DestSelectedStateId" (change) = "loadDestCity()"  style="width:150px!important;">
                                                      <option value="-1">Select To State</option> 
                                                      <option *ngFor="let x of StateList" [ngValue]="x.Id">{{x.State_Name}}</option>                           
                                                </select> 
                                                <select name="selCity" [(ngModel)] = "DestSelectedCityId" style="width:150px!important;">
                                                       <option value="-1">Select To City</option>     
                                                      <option *ngFor="let x of DestCityList" [ngValue]="x.Id">{{x.City_Name}}</option>                             
                                          </select> <a href="javascript:;" (click) = "addDestination(i)" >Add Destination</a>
                                            <table style="margin-left:50px;">                                                  
                                                  <tr style="background-color: rgb(147, 245, 171); font-weight: bold;">
                                                        <td></td>
                                                        <td>To State</td>
                                                        <td>To City</td>
                                                        <td>
                                                            Action
                                                        </td>
                                                  </tr>
                                                  <tr *ngFor="let y of service.Destination;let k = index;trackBy:k;"> 
                                                        <td>{{k + 1}}</td>
                                                        <td>{{y.ToStateName}}</td>
                                                        <td>{{y.ToCityName}}</td>
                                                        <td> <a href="javascript:;" (click) = "DeleteDestination(i,k)" >Delete</a> </td>
                                                  </tr>                                                  
                                            </table>
                                          </td>                                          
                                         
                                    </tr>
                              </table>
                        </li>
                        <li class="lirow" style="width:15%!important;"><a href="javascript:;" (click) = "DeleteServiceRow(i)">Delete Row</a></li>
                  </ul>                
                  <ul class="ulalternate">                           
                        <li class="lirow" style="width:97%!important;"><a href="javascript:;" (click) = "AddServiceRow()">Add Service row</a></li>                              
                  </ul>   
            </div>
      </div>
      <div class="divtablemain" *ngIf="companyAddMode">
            <ul class="ulalternate">
                  <span *ngIf="IsError" style="color:Red;">All fields marked with * are required</span>                            
            </ul>
            <ul class="ulheader">
                  <li class="lifooter" style="width:100%!important;text-align: center;margin-top:5px;">
                        <input type="button" value="Save" (click) = "SaveCompany()" style="width:60px!important;" />
                        <input type="button" value="Save and Add New" (click) = "SaveCompanyAndAddNewCompany()" />
                        <input type="button" value="Cancel" (click) ="Cancel()"  style="width:60px!important;" />
                  </li>
                  
            </ul>   
</div>
<div class="divtablemain" *ngIf="!companyAddMode">
      <ul class="ulheader">           
      <li class="liheader" style="width:100%!important;">
            Company Name: <input type="text" [(ngModel)]="searchtext"  id="txtCompanySearch"  style="width:150px!important;" /> 
            <input type="button" value="Search"  (click) = "CompanySearch()" style="width:60px!important;" />
            <input type="button" value="Back to Company Detail"  (click) = "CompanySearch()" *ngIf="IsBranchDisplay" style="width:160px!important;" />                   
            <input type="button" value="Add New Company" (click) = "AddNewCompany()"  style="width:160px!important;" /> 
      </ul>
      <ul class="ulheader">           
            <li class="liheader" style="width:15%!important;">Company</li>                  
            <li class="liheader" style="width:20%!important;">Address</li>
            <li class="liheader" style="width:26%!important;">Contact</li> 
            <li class="liheader" style="width:37%!important;">Services/Destinations</li>    
      </ul>
      <ul class="{{company.ParentId == 0 ? 'ulalternatebig' : 'ulalternatebigBr'}}" *ngFor="let company of companyDetail;let i = index;trackBy:i;">       
            <li class="{{company.ParentId == 0 ? 'lirow' : 'lirowBr'}}" style="width:15%!important;text-align:left;font-size:11px;">
                  <b> Name</b>- {{company.CompanyName}} <br> 
                  <b *ngIf="(IsBranchDisplay && i > 0)">Branch Name</b>-<span *ngIf="(IsBranchDisplay && i > 0)">{{company.BranchName}}<br></span>
                  <b>Desc</b>- {{company.CompanyDesc}} <br>
                  <b>Owner</b>- {{company.OwnerName}} <br>
                  <b>Type</b>- {{company.CompanyType}} <br><br>
                  <a href="javascript:;" >Edit Company Details </a> <br>
                  <a href="javascript:;" (click) = "ShowCompanyWithBranches(company.CompanyId,company)" *ngIf="!IsBranchDisplay" >Show Branches </a>
                  <a href="javascript:;" (click) = "AddBranchCompany(company)" *ngIf="company.ParentId == 0">Add Branches </a>
                  
            </li>  
            <li class="{{company.ParentId == 0 ? 'lirow' : 'lirowBr'}}" style="width:20%!important;text-align:left;font-size:11px;">
                  {{company.Address}} <br>
                  <b>Country</b> - {{company.CountryName}} <br>
                  <b>State</b> - {{company.StateName}} <br>
                  <b>City</b> - {{company.CityName}} <br>
                  <b>Area</b> - {{company.AreaName}} <br>
                  <b>Pin Code</b> - {{company.PinCode}}
            </li>
            <li class="{{company.ParentId == 0 ? 'lirow' : 'lirowBr'}}" style="width:26%!important;text-align:left;font-size:11px;">
                  <table style="margin-top:0px;font-size:11px;"> 
                        <tr style="background-color: rgb(147, 245, 171); font-weight: bold;"> 
                              <td>Contact No</td>
                              <td>Type</td>
                              <td>Primary?</td>
                              <td>Active?</td>
                        </tr>                      
                        <tr *ngFor="let contact of company.ContactDet;">  
                              <td>{{contact.ContactNo}}</td>                        
                              <td>{{contact.ContactType}}</td>
                              <td>{{contact.IsPrimary ? 'Yes' : 'No'}}</td>
                              <td>{{contact.IsActive ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                              <td colspan="4" style="text-align: right;"><a href="javascript:;" >Edit/Add Contact</a></td>
                        </tr>
                  </table>
            </li> 
            <li class="{{company.ParentId == 0 ? 'lirow' : 'lirowBr'}}" style="width:37%!important;text-align:left;font-size:11px;">
                        <table style="margin-top:0px;font-size:11px;width:100%;"> 
                              <tr style="background-color: rgb(147, 245, 171); font-weight: bold;"> 
                                    <td>Service Name</td>
                                    <td>Service Desc</td>
                                    <td>Destinations</td>
                                    
                              </tr>                      
                              <tr *ngFor="let srv of company.Services;">  
                                    <td>{{srv.ServiceName}}</td>                        
                                    <td>{{srv.ServiceDesc}}</td>
                                    <td>
                                                <table  style="margin-top:0px;width:100%;">
                                                            <tr *ngIf = "srv.Destinations.length > 0"> 
                                                              <td class="roottd"  (click)="destShowHide(srv.ServiceId)"><a href="javascript:;" style="font-size:13px;text-decoration: none;">{{srv.ServiceId == selectedServiceId ? "-" : "+"}}</a>Destinations</td>                        
                                                              <td></td>
                                                               <td></td>
                                                           </tr>
                                                         </table>
                                                <table style="margin-top:0px;" *ngIf="srv.ServiceId == selectedServiceId"> 
                                                                        
                                                           <tr *ngFor="let dest of srv.Destinations">  
                                                             <td></td>                        
                                                             <td>
                                                                {{dest.CompanyServiceDest}}
                                                             </td>                                                             
                                                           </tr>
                                                </table>
                                    
                                    </td>                                    
                              </tr>
                              <tr>
                                    <td colspan="4" style="text-align: right;"><a href="javascript:;" >Edit/Add Services</a></td>
                              </tr>
                        </table>
                  </li> 
      </ul>
</div>

