
<div class="divtablemain">
  <ul class="ulheader">           
       <li class="liheader" style="width:100%!important;"> Select City and Services for mapping
         </li>           
       
  </ul>
  <ul class="ulalternatebig">       
         <li class="lirow" style="width:30%!important;">Select State :
            <select name="selDestState" [(ngModel)]="selectedStateId" (change) = "loadCity()"  style="width:150px!important;">
                <option value="-1">Select To State</option> 
                <option *ngFor="let x of StateList" [ngValue]="x.Id">{{x.State_Name}}</option>                           
          </select> 
         </li>
         <li class="lirow" style="width:68%!important;">Select city:
            <select name="selCity" [(ngModel)] = "selectedCityId" (change) = "loadNearByCityDetails()" style="width:150px!important;">
                 <option value="-1">Select To City</option>     
                <option *ngFor="let x of CityList" [ngValue]="x.Id">                 
                  {{x.City_Name}}
                </option>                             
            </select>
         </li>   
         
   </ul>
   <ul class="ulalternatebig">       
      <li class="lirow" style="width:30%!important;">Select Near By City : <br>          
         <input type="text" [(ngModel)] = "citySearchText" (keypress) = "searchCity()" (keyup) = "searchCity()"  style="width:300px;border-style: solid; border-width: 1px;min-height: 20px;" />         
         <div style="width:302px;text-align: center;">
            <li> <table style="width:100%;border-style: solid; border-width: 1px;border-bottom: 0px;">
                
                              <tr><td style="width:195px;">Select City    </td>
                                <td style="text-align: center;">Is Broker</td>
                                <td style="text-align: center;">Is Contractor</td></tr>
                           </table>          
                            
                          </li>  
         </div>
         <div style="width:300px;border-style: solid; border-width: 1px;height: 330px;overflow-y: scroll;border-top: 0px;">                   
           <li >
             <table style="width:100%;">               
               <tr *ngFor="let x of SearchedCityList">
                 <td style="width:170px;"> <input type="checkbox" [(ngModel)] = "x.IsSelected"  /> {{x.City_Name}} </td>
                 <td style="text-align: left;"><input type="checkbox" [(ngModel)] = "x.IsBroker"  /></td>
                 <td style="text-align: left;"><input type="checkbox" [(ngModel)] = "x.IsContractor"  /></td>
               </tr>
             </table>
            
           </li>
          
         </div> 
         
      </li>
      <li class="lirow" style="width:13%!important;height: 390px;text-align: center;"><div style="text-align: center;margin-top: 180px;">
        <input type="button" value=">>"  (click) = "AddNearByCity()"  style="width:60px!important;" />  </div>    
       </li>
      <li class="lirow" style="width:55%!important;">Selected Near By city:
          <div style="width:302px;text-align: center;">
              <li> <table style="width:100%;border-style: solid; border-width: 1px;border-bottom: 0px;margin-top:30px;">
                  
                                <tr><td style="width:195px;">Select City    </td>
                                  <td style="text-align: center;">Is Broker</td>
                                  <td style="text-align: center;">Is Contractor</td></tr>
                             </table>          
                              
                            </li>  
           </div>
        <div style="width:300px;border-style: solid; border-width: 1px;height: 330px;overflow-y: scroll;border-top: 0px;">                   
          <li >
            <table style="width:100%;">               
              <tr *ngFor="let x of NearByCityList;let k = index;trackBy:k;">
                <td style="width:170px;"> <input type="button" value="Delete" (click) = "DeleteNearByCity(k)"  style="height:20px;font-size:x-small;" /> {{x.NearByCityName}} </td>
                <td style="text-align: left;"><input type="checkbox" [(ngModel)] = "x.IsBroker"  /></td>
                <td style="text-align: left;"><input type="checkbox" [(ngModel)] = "x.IsContractor"  /></td>
              </tr>
            </table>
           
          </li>
         
        </div> 
      </li>   
      
    </ul>
   <ul class="ulheader"> 
        <li class="lifooter" style="width:100%!important;text-align: center;margin-top:5px;">
            <input type="button" value="Save" (click) = "Save()"  style="width:60px!important;" />
        </li>
    </ul>
</div>

