<div id="leftmenucontent1">
        <ul>
                <li class="divleftmenuitem_1"><span class="arrowR"></span><a routerLink="bannermaster" routerLinkActive="active">Banner Master</a>
                </li>
                <li class="divleftmenuitem_1"><span class="arrowR"></span><a routerLink="bannerconfigmaster" routerLinkActive="active">Banner Config Master</a>
                </li>
                <li class="divleftmenuitem_1"><span class="arrowR"></span><a routerLink="bannerconfigdetail" routerLinkActive="active">Banner Config Details</a></li>
                <li class="divleftmenuitem_1"><span class="arrowR"></span><a routerLink="companyservice" routerLinkActive="active">Company/Services (Approve/Reject)</a></li>
                <li class="divleftmenuitem_1"><span class="arrowR"></span><a routerLink="companymanagement" routerLinkActive="active">Company Management</a></li>
                <li class="divleftmenuitem_1"><span class="arrowR"></span><a routerLink="loginservice" routerLinkActive="active">Login Services Approval</a></li>
                <li class="divleftmenuitem_1"><span class="arrowR"></span><a  href="#" (click) = "LogOut()">Logout</a></li>
        </ul>    
</div>
