<div class="divtablemainBanner">
            <ul class="ulheader">
            <li class="liCol25"><span class="spacer30"></span></li>
           <li class="liCol75"><span class="spacer10"></span></li>
            
           </ul>
           <ul class="ulmain">
            <li class="liCol25"><span class="spacer30"></span>Banner Name:</li>
           <li class="liCol75"><span class="spacer10"></span><input id="txtBannerName"  name="txtBannerName"  type="text" style="width:120px!important;"  /></li>
            
           </ul>
           <ul class="ulalternate">
            <li class="liCol25"><span class="spacer30"></span>Banner Size:</li>
           <li class="liCol75"><span class="spacer10"></span>
              <select name="selBannerSize">
                 <option value="select">select</option>
                 <option value="S32X50">32 X 50</option>
                 <option value="S100X200">100 X 200 </option>                 
              </select> 
            </li>
           </ul>
            <ul class="ulmain">
              <li class="liCol25"><span class="spacer30"></span>Select Image:</li>
              <li class="liCol75"><span class="spacer10"></span><input type="file" multiple="multiple" name="fileBannerImage" id="fileBannerImage" accept="image/*" />
              </li>              
           </ul>          
           <ul class="ulalternate">
            <li class="liCol25"><span class="spacer30"></span>Start date:</li>
           <li class="liCol75"><span class="spacer10"></span><input id="txtStartDate" name="txtStartDate" type="text" style="width:80px!important;" /></li>
            
           </ul>
           <ul class="ulmain">
            <li class="liCol25"><span class="spacer30"></span>End date</li>
           <li class="liCol75"><span class="spacer10"></span><input id="txtEndDate" name="txtEndDate" type="text" style="width:80px!important;" /></li>
            
           </ul>
          <ul class="ulalternate">
            <li class="liCol25"><span class="spacer30"></span>Active</li>
           <li class="liCol75"><span class="spacer10"></span><input type="checkbox" id="chkActive" name="chkActive" checked="checked" style="width:13px!important;"  /></li>
            
          </ul>
          <ul class="ulmain">
            <li class="liCol25"><span class="spacer30"></span></li>
           <li class="liCol75"><span class="spacer10"></span><input type="button" value="Save"  style="width:60px!important;" /><span class="spacer10">&nbsp;</span><input type="submit" value="Cancel" style="width:60px!important;" /></li>            
          </ul>
    </div>
